/* specific to this site */

:root
{
    --color-black: #000;
    --color-grey: #888;
    --color-green-dark: #2d5a27;
    --color-green: #127d04;
    --color-green-light: #71fa5f;

    --color-orange: #FC4C02;
    --color-orange-dark: #c23a02;
    --color-orange-light: #fe834f;

    --color-violet-dark: #49304c;
    --color-violet: #825588;
    --color-violet-light: #c1a2c5;
    --color-white: #fff;

    --color-border-neutral: var(--color-grey);
    
    --color-foreground-accent: var(--color-violet-light);
    --color-foreground-primary: var(--color-green-light);
    --color-foreground-neutral: var(--color-white);
    --color-foreground-warn: var(--color-orange-light);

    --color-background-accent: var(--color-violet-dark);
    --color-background-neutral: var(--color-black);    
    --color-background-primary: var(--color-green-dark);
    --color-background-warn: var(--color-orange-dark);

    --radius: 2rem;

}

a
{
    color: inherit;
}

a:visited
{
    color: var(--color-foreground-accent);
}

.bubble-neutral
{
    background-color: var(--color-background-neutral);
    border-radius: var(--radius);
    box-shadow: 0 0 15px var(--color-background-neutral);
    color: var(--color-foreground-primary);
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.bubble-warn
{
    background-color: var(--color-background-warn);
    border-radius: var(--radius);
    box-shadow: 0 0 15px var(--color-background-neutral);
    color: var(--color-foreground-neutral);
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.container
{
    /* using a "border" here because I am creating the illusion of a 
     * border.*/
    background-color: var(--color-border-neutral);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    padding: 5px;
}

.container-inset
{
    background-color: var(--color-background-primary);
    border-radius: var(--radius);
    box-shadow: 0 0 15px inset var(--color-background-neutral);
    color: var(--color-foreground-neutral);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.container-scrolling-area
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}

.container-scrolling-content
{
    margin: 1.5rem;
}

.header
{
    margin-bottom: 2rem;
}

.input-button
{
    background-color: var(--color-background-accent);
    border-color: var(--color-border-neutral);
    border-radius: var(--radius);
    border-style: solid;
    color: var(--color-foreground-neutral);
    padding: .5rem;    
    margin-bottom: .5rem;
    margin-top: .5rem;
    width: 100%
}

.input-text
{
    background-color: var(--color-background-neutral);
    border-color: var(--color-border-neutral);
    border-radius: 0px var(--radius) var(--radius) 0px;
    border-style: solid;
    color: var(--color-foreground-neutral);
    flex: 1;
    margin-bottom: .5rem;
    min-width: 0px;
    padding: .5rem;
}

.input-text:focus
{
    border-color: var(--color-foreground-accent);
    border-width: 2px;
}

.label-input-text
{
    background-color: var(--color-background-primary);
    border-color: var(--color-border-neutral);
    border-radius: var(--radius) 0px 0px var(--radius);
    border-style: solid;
    color: var(--color-foreground-neutral);
    margin-bottom: .5rem;
    max-width: 50%;
    width: 15em;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;
}
              
.nav-a
{
    margin-right: 1rem;
}

.ul-validation
{
    list-style-type: none;
    padding-left: 0;
}

.ul-validation-li-invalid
{
    color: var(--color-foreground-warn);
}
